{%- comment -%}
    Renders a quantifier with single increments and decrements.

    Accepts:
    - name: {string} The name of the field. (optional)
    - min: {number} The minimum number the quantifier can go to. (optional)
    - value: {number} The initial value. (optional)
    - unit: {string} The text that will be used to describe the value. (optional)
    - unit_plural: {string} Should adding an 's' is not correct, set a different plural. (optional)
    - label: {string} Content that is displayed below the count. (optional)
    - classes: {string} Additional modifier classes for the element. (optional)

    Usage:
    {%- render "component__quantity-selector", min: 1, classes: "another-class" -%}
{%- endcomment -%}

<div class="quantity-selector {{ classes }}" data-min="{{ min | default: 1 }}">
    <input class="quantity-selector__input" type="hidden" name="{{ name | default: "quantity" }}" value="{{ value | default: 1 }}">

    <div class="quantity-selector__wrapper">
        <button class="quantity-selector__button quantity-selector__minus" type="button">
            <span>{% render 'icon-minus' %}</span>
        </button>

        <div class="quantity-selector__content">
            <div class="quantity-selector__total">
                <span class="quantity-selector__count">{{ value | default: 1 }}</span> 
                
                {% if unit != blank -%}
                    {% comment -%}
                        data-plural and data-single can be set for the single and plural quantifiers.
                        By default, the unit will be pluralized with an 's'.
                    {%- endcomment -%}
                    <span 
                        class="quantity-selector__unit" 
                        data-single="{{ unit }}"
                        {% if unit_plural != blank -%} data-plural="{{ unit_plural }}" {%- endif -%}
                    >
                        {{ unit }}
                    </span>
                {%- endif -%}
            </div>

            {%- if label != blank -%}
                <p class="quantity-selector__label">{{ label }}</p>
            {%- endif -%}
        </div>

        <button class="quantity-selector__button quantity-selector__plus" type="button">
            <span>{% render 'icon-plus' %}</span>
        </button>
    </div>
</div>