{%- assign full_text = text | replace: '</p><p>', '<br>' | remove: '<p>' | remove: '</p>' | replace: '<strong>', '<strong><span>'  | replace: '</strong>', '</span></strong>' -%}
{%- assign words = full_text | split: ' ' -%}
{%- assign classes = classes -%}

{% if offset_title %}
  {%- assign offset_title = "offset-title" -%}
{%- else -%}
  {%- assign offset_title = "" -%}
{% endif %}


{% if text_size %}
  {%- assign text_size = "large" -%}
{%- else -%}
  {%- assign text_size = "" -%}
{% endif %}

{% if no_wrap %}
  {%- assign no_wrap = "no-wrap" -%}
{%- else -%}
  {%- assign no_wrap = "" -%}
{% endif %}

{% if words contains "[circulartext]" %}
  {% assign with_circular_text = "with-circular-text" %}
{% endif %}

<div class="tw" data-aos="animated">
  <h1 class="section-title {{ classes }} {{ text_size }} {{ offset_title }} {{no_wrap }} {{ with_circular_text }}" data-aos>
    {% for word in words %}

      {% if word contains "[powder]" or word contains "[flower]" %}
        {% assign has_shortcode = "has-shortcode" %}
      {% else %}
        {% assign has_shortcode = "" %}
      {% endif %}

      {% if words[forloop.index] contains "[circulartext]" %}
        {% assign has_circulartext = "has-circulartext" %}
      {% else %}
        {% assign has_circulartext = "" %}
      {% endif %}

      {% if word contains "<br>" %}
        <br>
      {% endif %}

      <span class="o {{ has_shortcode }} {{ has_circulartext }}">
        {% unless word contains "[circulartext]" or word contains "[powder]" or word contains "[flower]" %}
          <span class="i">{{ word | remove: "<br>" }}</span>
        {% endunless %}

        {% if words[forloop.index] contains "[circulartext]" %}
          <span class="circle-text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122 120" data-aos="zoom-in">
              <g fill="#4C9FD7" fill-rule="evenodd">
                <path
                  d="m10.151 46.026-2.36-.597c-.585.234-.946.62-1.079 1.154-.12.468-.054.883.183 1.252.237.372.672.634 1.296.791.628.16 1.14.149 1.54-.026.398-.18.662-.518.79-1.016.139-.57.017-1.088-.37-1.558Zm3.215-1.934-.63 2.51-.624-.157c.36.721.44 1.49.235 2.303-.255 1.038-.833 1.777-1.733 2.225-.9.448-1.91.529-3.032.242-1.065-.268-1.893-.858-2.478-1.776-.591-.911-.765-1.853-.524-2.821.182-.728.537-1.309 1.059-1.733l-5.64-1.425.646-2.58 12.721 3.212ZM14.382 36.946l-.793-.376a1.63 1.63 0 0 0-.846.835 1.24 1.24 0 0 0-.096.82c.061.272.213.467.448.58.259.12.507.134.733.035.232-.096.413-.284.543-.566.224-.476.226-.92.011-1.328Zm2.852-1.573-1.09 2.327-.601-.282c.248.738.191 1.492-.17 2.264-.328.706-.795 1.195-1.397 1.466-.6.273-1.242.247-1.92-.072a2.228 2.228 0 0 1-1.235-1.43c-.193-.653-.104-1.382.272-2.187a3.816 3.816 0 0 1 1.215-1.492l-.176-.083c-.93-.44-1.641-.133-2.132.92-.198.424-.376 1.014-.535 1.774L7.7 38.001c.13-.904.372-1.726.717-2.464 1.107-2.365 2.735-3.04 4.88-2.024l3.937 1.86ZM20.232 30.751l-1.478 2.231-6.464-4.322 1.476-2.233 6.466 4.324Zm-8.61-5.954c.337.227.548.54.633.944.085.402.013.778-.22 1.127a1.42 1.42 0 0 1-.948.64 1.436 1.436 0 0 1-1.11-.222 1.462 1.462 0 0 1-.644-.96c-.08-.408-.01-.782.215-1.12a1.44 1.44 0 0 1 .946-.634c.404-.081.78-.005 1.128.225ZM21.56 20.765c-1.146.87-1.648 1.632-1.503 2.285l3.698 3.232-1.748 2.024-5.858-5.122 1.702-1.967.945.824c-.128-.619-.14-1.152-.043-1.595.102-.448.372-.92.81-1.427l1.996 1.746ZM28.274 11.606l3.123 12.543-2.047 1.687-1.105-5.184-6.932-3.312 2.27-1.869 3.975 2.354-1.512-4.383zM38.86 0l.728 2.137c-.204.039-.465.13-.78.275-.38.173-.62.422-.717.74-.096.324-.005.79.27 1.4l.575 1.277 1.905-.87.867 1.917-1.906.87 2.343 5.192-2.415 1.1-2.341-5.193-1.515.69-.157-.343.806-2.263-.663-1.473c-.504-1.115-.615-2.111-.336-2.987.278-.879.96-1.565 2.047-2.06.402-.182.83-.32 1.29-.41M49.498 4.88c-1.435.123-2.263.501-2.485 1.13l1.42 4.718-2.553.776-2.245-7.473 2.482-.754.361 1.204c.222-.592.494-1.051.811-1.372.324-.324.804-.581 1.441-.776l.768 2.548ZM54.656 4.773l2.791-.332c-.102-.446-.287-.77-.556-.972-.272-.204-.594-.284-.974-.239-.817.097-1.237.612-1.26 1.543m5.123-.245c.056.464.082.83.078 1.095l-5.05.601c.137.43.368.728.694.885.324.162.789.205 1.393.133.604-.072 1.37-.299 2.296-.69l.48 1.918c-1.104.422-2.043.678-2.81.77-1.435.17-2.55-.075-3.348-.732-.8-.66-1.268-1.574-1.405-2.74-.128-1.098.12-2.09.75-2.979.626-.89 1.568-1.41 2.824-1.56 1.172-.14 2.115.11 2.833.74.717.634 1.14 1.487 1.265 2.56M65.039 4.3l2.802.194c-.016-.457-.137-.81-.366-1.062-.228-.251-.532-.389-.913-.415-.821-.057-1.328.371-1.523 1.282m5.08.713a8.7 8.7 0 0 1-.129 1.092l-5.07-.351c.053.447.225.78.516.998.287.219.737.348 1.346.391.604.042 1.4-.041 2.38-.249l.118 1.973c-1.163.21-2.13.284-2.905.23-1.439-.1-2.488-.549-3.154-1.344-.66-.795-.952-1.78-.871-2.954.076-1.1.504-2.028 1.284-2.786.783-.759 1.805-1.093 3.068-1.006 1.176.084 2.058.503 2.645 1.257.59.758.846 1.674.772 2.749M83.775 8.8l-1.924-.686-.724 2.052-1.852-.662.724-2.05-1.924-.686.633-1.796 1.923.686.724-2.052 1.855.662-.724 2.05 1.921.686zM99.98 14.331l-8.08 4.093-.395-.28L92.6 9.152l2.404 1.687-.882 4.075 3.495-2.242zM101.339 20.114l1.978 2.006c.289-.356.428-.704.421-1.045-.006-.338-.145-.642-.413-.915-.582-.588-1.243-.606-1.986-.046m3.35 3.905a9.11 9.11 0 0 1-.814.734l-3.578-3.628c-.254.372-.345.739-.271 1.093.076.356.328.752.756 1.187.426.432 1.078.9 1.954 1.394l-1.208 1.558c-1.011-.614-1.787-1.198-2.333-1.753-1.017-1.031-1.513-2.065-1.487-3.1.027-1.04.45-1.976 1.283-2.802.778-.776 1.71-1.189 2.795-1.239 1.085-.05 2.07.376 2.961 1.279.833.843 1.22 1.743 1.165 2.698-.056.962-.463 1.816-1.224 2.579M108.123 31.758l2.341-1.558c.098-.482 0-.943-.291-1.383-.276-.42-.652-.655-1.133-.712-.478-.055-.993.1-1.539.465-.467.313-.758.68-.869 1.106-.109.426-.02.865.276 1.316.298.45.702.707 1.215.766Zm-.672 3.64c-1.212.807-2.243 1.102-3.086.881-.848-.218-1.637-.884-2.367-1.995a8.866 8.866 0 0 1-1.116-2.342l2.002-1.097c.166.64.43 1.237.798 1.798.322.49.672.78 1.041.874.366.094.805-.03 1.311-.367l.315-.21c-.543-.214-1.01-.62-1.406-1.22-.62-.938-.85-1.9-.683-2.876.161-.982.766-1.818 1.809-2.511.954-.636 1.978-.87 3.065-.695 1.087.175 1.915.693 2.478 1.551.396.601.6 1.246.609 1.928l.341-.228 1.422 2.16-6.533 4.35ZM112.023 40.84l.81-.336a1.635 1.635 0 0 0-.04-1.187 1.2 1.2 0 0 0-.542-.622.783.783 0 0 0-.726-.062c-.267.112-.441.287-.524.523-.085.234-.065.494.052.784.2.487.524.789.97.9Zm-.767 3.18-.976-2.378.61-.255c-.708-.317-1.223-.866-1.545-1.652-.296-.721-.344-1.396-.137-2.028.206-.631.656-1.088 1.35-1.377.641-.266 1.267-.249 1.88.05.61.296 1.085.855 1.422 1.679.26.631.352 1.263.28 1.907l.183-.078c.947-.391 1.2-1.126.758-2.2-.178-.433-.49-.966-.94-1.594l1.614-.926c.57.71 1.015 1.442 1.324 2.198.991 2.417.39 4.075-1.806 4.984l-4.017 1.67ZM113.615 54.263l-.533-2.625 4.628-.95c.644-.13.911-.468.8-1.01-.12-.585-.541-1.099-1.263-1.538l-4.678.96-.537-2.625 7.609-1.56.521 2.554-1.37.282c1.21.79 1.905 1.64 2.088 2.546.158.773.05 1.411-.322 1.91-.376.498-.948.828-1.72.985l-5.223 1.07ZM117.631 68.052l.163-2.045-2.158-.175.156-1.971 2.159.175.163-2.043 1.889.15-.161 2.043 2.159.175-.159 1.971-2.159-.172-.163 2.043zM111.974 81.803c-.709-.254-1.17-.763-1.38-1.523-.211-.765-.155-1.608.174-2.533a6.13 6.13 0 0 1 2.067-2.851l1.506 1.433c-.893.634-1.474 1.327-1.737 2.07-.2.565-.134.906.192 1.022.154.057.33-.02.524-.22.19-.206.393-.468.6-.79.208-.32.443-.635.702-.941.263-.308.584-.531.976-.664.389-.136.808-.123 1.258.037.73.262 1.22.767 1.468 1.518.247.75.213 1.576-.11 2.48-.317.905-.86 1.716-1.634 2.43l-1.571-1.245c.723-.658 1.202-1.307 1.43-1.954.082-.236.106-.437.07-.603-.038-.168-.122-.273-.257-.323-.167-.06-.348.022-.54.24-.188.219-.4.492-.623.826-.226.334-.472.653-.74.966-.269.312-.61.537-1.025.673-.415.14-.865.122-1.35-.048M108.503 88.46c.176.413.55.783 1.12 1.113.567.325 1.076.463 1.52.406.443-.054.784-.295 1.027-.723.246-.426.279-.848.105-1.268-.174-.415-.546-.788-1.116-1.118-.57-.326-1.076-.46-1.523-.398-.448.059-.792.304-1.033.73-.243.426-.278.845-.1 1.258m2.854 3.85c-1.043.272-2.058.12-3.043-.443-.983-.568-1.624-1.37-1.924-2.417-.298-1.04-.13-2.12.505-3.23.634-1.114 1.473-1.81 2.523-2.084 1.048-.273 2.065-.127 3.048.442.985.563 1.624 1.372 1.92 2.418.297 1.051.128 2.13-.505 3.243-.635 1.112-1.474 1.807-2.524 2.072M104.328 102.852l-5.244-11.809 1.729-2.019 1.982 4.912 7.397 2.052-1.913 2.238-4.321-1.622 2.246 4.049zM95.99 116.086l-1.092-1.97a3.89 3.89 0 0 0 .722-.416c.343-.234.534-.52.574-.852.039-.335-.129-.778-.507-1.333l-.789-1.154-1.728 1.193-1.185-1.735 1.726-1.193-3.21-4.698 2.182-1.508 3.21 4.698 1.372-.946.215.31-.4 2.37.91 1.334c.69 1.01.975 1.969.851 2.882-.12.914-.671 1.71-1.654 2.389-.365.249-.763.463-1.198.629M84.458 113.193c1.398-.35 2.154-.855 2.274-1.513l-2.141-4.433 2.395-1.17 3.396 7.022-2.335 1.14-.548-1.134c-.124.62-.32 1.117-.582 1.488-.268.37-.698.7-1.302.992l-1.157-2.392ZM79.59 114.144l-2.688.815c.178.424.415.71.717.865.3.153.637.173 1 .062.789-.24 1.11-.82.972-1.742m-5.002 1.143a9.47 9.47 0 0 1-.265-1.064l4.864-1.48c-.206-.4-.484-.65-.832-.749-.35-.103-.813-.066-1.398.111-.582.177-1.295.538-2.139 1.084l-.804-1.802c1.01-.61 1.891-1.025 2.632-1.253 1.38-.42 2.524-.375 3.424.134.9.509 1.52 1.326 1.859 2.451.317 1.056.243 2.078-.22 3.064-.463.985-1.3 1.663-2.513 2.032-1.128.341-2.1.265-2.915-.232-.817-.498-1.38-1.263-1.693-2.296M69.424 116.436l-2.793.302c.096.448.278.773.546.98.267.208.591.29.97.248.819-.088 1.243-.597 1.277-1.53m-5.125.192a8.88 8.88 0 0 1-.066-1.097l5.057-.544c-.133-.432-.361-.732-.683-.893-.324-.166-.787-.214-1.393-.151-.605.065-1.372.286-2.302.666l-.459-1.925c1.109-.408 2.048-.653 2.82-.738 1.434-.153 2.547.102 3.338.771.792.669 1.25 1.586 1.374 2.758.117 1.094-.143 2.084-.782 2.967-.637.883-1.583 1.392-2.842 1.527-1.173.125-2.117-.13-2.825-.77-.711-.643-1.124-1.498-1.237-2.57" />
              </g>
            </svg>
          </span>
        {% endif %}

        {% if word contains "[powder]" %}
          <span class="blue-powder">
            <img loading="lazy" src="{{ 'blue-powder.png' | asset_img_url: '90x' }}"
              alt="blue powder" data-aos="zoom-in">
          </span>
        {% elsif word contains "[flower]" %}
          <span class="flower">
            <img loading="lazy" src="{{ 'flowers.png' | asset_img_url: '90x' }}"
              alt="flower" data-aos="zoom-in">
          </span>
        {% endif %}
      </span>
      
    {% endfor %}
  </h1>
</div>
