<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'footer.css' | asset_url | stylesheet_tag }}</noscript>


<footer class="footer background" id="footer">
  <div class="footer__wrapper container-large">
    {%- if section.settings.contact_phone != blank -%}
    <a href="tel:+{{ section.settings.contact_phone | remove: " [" | remove: "]" | remove: "-" }}" class="footer__contact">
      {% if section.settings.phone_icon != blank %}
        <img src="{{ section.settings.phone_icon | img_url: " x43", scale: 2 }}" alt="{{ shop.name }}" class="image">
      {% else %}
        {{ section.settings.contact_phone }}
      {% endif %}
    </a>
    {%- endif -%}
    {% if template.name == 'index' %}
      {%- if section.settings.logo or section.settings.logo_code != blank -%}
        <div class="footer__branding">
          <a href="/" class="footer__logo">
            {%- if section.settings.logo_code != blank -%}
              {{ section.settings.logo_code }}
            {%- else -%}
              <img src="{{ section.settings.logo | img_url: "x43", scale: 2 }}" alt="{{ shop.name }}" class="image">
            {%- endif -%}
          </a>
        </div>
      {%- endif -%}
    {% endif %}
  </div>

  {%- render "component__gradient-bg-styles" -%}
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "logo_code",
        "label": "SVG Code",
        "info": "(Optional) Input the SVG code of the logo directly. This will replace the uploaded image."
      },

      {
        "type": "header",
        "content": "Contact Details"
      },
      {
        "type": "text",
        "id": "contact_phone",
        "label": "Phone"
      },
      {
        "type": "image_picker",
        "id": "phone_icon",
        "label": "Phone Icon"
      },
      {
        "type": "header",
        "content": "Legal"
      },
      {
        "type": "link_list",
        "id": "legal_links",
        "label": "Links"
      },
      {
        "type": "text",
        "id": "legal_copyright",
        "label": "Copyright Text",
        "default": "SITE BY MANUFACTUR"
      },

      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "show_socials",
        "label": "Show social media icons?",
        "default": true,
        "info": "If checked, all social media linked on Theme Settings will be shown on the footer."
      },  
      {
        "type":"header",
        "content":"Background"
      },
      {
        "type":"color",
        "id":"bg_color_1",
        "label":"Background Color 1"
      },
      {
        "type":"color",
        "id":"bg_color_2",
        "label":"Background Color 2",
        "info":"(Optional) Background will form gradient if added."
      },
      {
        "type":"color",
        "id":"bg_color_3",
        "label":"Background Color 3",
        "info":"(Optional) Background will form gradient if added."
      },
      {
        "type":"range",
        "id":"gradient_balance",
        "min":1,
        "max":100,
        "step":1,
        "unit":"%",
        "label":"Gradient Balance",
        "default":50
      },
      {
        "type":"text",
        "id":"gradient_angle",
        "label":"Gradient Angle",
        "default":"0",
        "info":"Choose a number from 1 to 360."
      }
    ]
  }

{% endschema %}
