{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}





{% if section.settings.color_theme %}
  {% assign text_color = section.settings.color_theme %}
{% else %}
  {% assign text_color = "" %}
{% endif %}

{% assign page_animation = "data-aos='fade-up' data-aos-easing='ease-in-quart'" %}


{% if section.settings.is_centered %}
  {% assign text_alignment = "text-center" %}
  {% assign content_alignment = "align-center" %}
{% else %}
  {% assign text_alignment = "" %}
  {% assign content_alignment = "" %}
{% endif %}




{%- comment -%}
--------------------------------------
capture elements for ease of placement
--------------------------------------
{%- endcomment -%}

{%- capture section_content -%}
  
{%- endcapture -%}


{%- assign carousel_items = section.blocks | where: "type", "image" -%}
{% capture section_media %}
  <div class="carousel-wrapper {{ carousel_class }}  {{ section.id }} ">
    {% for block in carousel_items %}
      <div class="carousel-cell block-{{ forloop.index }} {{ text_color }}" data-aos="fade-up" data-aos-delay="{{ forloop.index }}00">
        <div class="inner">

          
          {%- style -%}
            .carousel-cell.block-{{ forloop.index }} .inner {
              background: {{ block.settings.bg_color_1 }};
              background: -moz-linear-gradient(0, {{ block.settings.bg_color_1 }}, {{ block.settings.bg_color_2 }} 100%) !important;
              background: -webkit-linear-gradient(0, {{ block.settings.bg_color_1 }}, {{ block.settings.bg_color_2 }} 100%) !important;
              background: linear-gradient(0, {{ block.settings.bg_color_1 }}, {{ block.settings.bg_color_2 }} 100%) !important;
            }
          {%- endstyle -%}

          
          {% if block.settings.image != "" and block.settings.svg_code == blank %}
            <div class="image {{ block.settings.image_size }}">
              {% render 'component__responsive-image', image: block.settings.image %}
            </div>
          {% elsif block.settings.svg_code != blank %}
            <div class="icon image {{ block.settings.image_size }}" data-aos>{{ block.settings.svg_code }}</div>
          {% endif %}

          {% if block.settings.text %}
            <p class="small caption">{{ block.settings.text }}</p>
          {% endif %}

          {% if block.settings.details %}
            <p class="details">{{ block.settings.details }}</p>
          {% endif %}

        </div>
      </div>
    {% endfor %}
  </div>

{% endcapture %}





{%- comment -%}
--------------------------------------
Section Layout
--------------------------------------
{%- endcomment -%}
<section class="mfr-core__image-carousel background">

  {{ section_media }}




  <script type="text/javascript">
    function text_carousel() {
      var $carousel = $('.carousel-wrapper').flickity({
        selectedAttraction: 0.1,
        friction: 0.55,
        prevNextButtons: false,
        autoPlay: false,
        contain: true,
        setGallerySize: false,
        cellAlign: 'center',
        imagesLoaded: true,
        lazyLoad: false,
        pageDots: true,
        draggable: '>1',
        initialIndex: 0,
        wrapAround: true,
        arrowShape: 'M32.1563 16.5312L0.906254 47.7813C0.324219 48.3668 -0.00247342 49.1588 -0.00247339 49.9844C-0.00247335 50.81 0.32422 51.602 0.906254 52.1875L32.1563 83.4375L36.5625 79.0312L10.6563 53.125L100 53.125L100 46.875L10.6563 46.875L36.5625 20.9687L32.1563 16.5312Z'
      });
    }
    jQuery(function(){
      text_carousel();
    });
    
    document.addEventListener("shopify:section:load", function(event) {
      text_carousel();
    });
  </script>

</section>





{% schema %}
  {
    "name": "Image Carousel",
    "settings": [
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "select",
        "id": "color_theme",
        "options": [
            { "value": "color_theme__dark", "label": "Dark Theme" },
            { "value": "color_theme__light", "label": "Light Theme" },
            { "value": "color_theme__theme_1", "label": "Color Theme 1" },
            { "value": "color_theme__theme_2", "label": "Color Theme 2" }
            ],
        "label": "Color Theme",
        "default": "color_theme__dark"
      },
      {
       "type": "checkbox",
       "id": "is_centered",
       "default": false,
       "label": "Center Text"
      },
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
        "type":"header",
        "content":"Background"
      },
      {
        "type": "color_background",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "image", 
        "name": "Image Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_size",
            "options": [
                { "value": "cover", "label": "Cover"},
                { "value": "contain", "label": "Contain"}
                ],
            "label": "Image Size",
            "default": "cover"
          },
          {
            "type":"html",
            "id":"svg_code",
            "label":"Icon SVG Code",
            "info":"Paste SVG code for vector icon"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Caption",
            "info":"optional"
          },
          {
            "type": "textarea",
            "id": "details",
            "label": "Details"
          },
          {
            "type":"color",
            "id":"bg_color_1",
            "label":"Background Color 1",
            "info":"will form gradient"
          },
          {
            "type":"color",
            "id":"bg_color_2",
            "label":"Background Color 2",
            "info":"will form gradient"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Image Carousel",
        "category":"Manufactur Custom Sections",
        "blocks":[]
      }
    ]
  }
{% endschema %}
