{%- assign top_spacing = section.settings.section_spacing_top -%}
{%- assign bottom_spacing = section.settings.section_spacing_bottom -%}

{%- assign content_alignment = section.settings.text_side -%}

{%- assign mobile_alignment = section.settings.mobile_alignment -%}

{%- assign banner_height = section.settings.banner_height -%}

{% if section.settings.is_centered %}
  {% assign text_alignment = "text-center" %}
{% else %}
  {% assign text_alignment = "text-left" %}
{% endif %}



<section class="mfr-core__text-section background">
  <div class="grid-container full {{ top_spacing }} {{ bottom_spacing }}">

    <div class="grid-x">
      
      <div class="cell small-12 text-center">
          
        {%- if section.settings.show_collection_image and collection.image -%}
        <div class="image {% if section.settings.image_overlay %} overlay {% endif %}">
          {% render 'component__responsive-image', image: collection.image %}
        </div>
        {%- endif -%}

        <div class="inner {{ content_alignment }}">
          <div class="section-content {{ section.settings.color_theme }} {{ text_alignment }}">

            {% render 'component__title-block', text: collection.title, classes: 'h1' %}

            {%- if section.settings.show_collection_description -%}
              <div class="description rte">{{ collection.description }}</div>
            {%- endif -%}
          
          </div>
        </div>
      
      </div>

    </div>

  
    
    {%- if section.settings.show_svg_divider_top -%}
      {%- render 'component__top-wave', color: section.settings.svg_divider_top_color, id: section.id -%}
    {%- endif -%}

    {%- if section.settings.show_svg_divider_bottom -%}
      {%- render 'component__bottom-wave', color: section.settings.svg_divider_bottom_color, id: section.id -%}
    {%- endif -%}

    {%- if section.settings.section_divider_image -%}
      <div class="divider">
        <img loading="lazy" src="{{ section.settings.section_divider_image | img_url: '1200x' }}" srcset="{{ section.settings.section_divider_image | img_url: '1200x' }} 375w, {{ section.settings.section_divider_image | img_url: '1800x' }} 900w" alt="section divider">
      </div>
    {%- endif -%}

    {% render 'component__gradient-bg-styles' %}



  </div>



</section>








{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "select",
        "id": "color_theme",
        "options": [
            { "value": "color_theme__dark", "label": "Dark Theme" },
            { "value": "color_theme__light", "label": "Light Theme" },
            { "value": "color_theme__theme_1", "label": "Color Theme 1" },
            { "value": "color_theme__theme_2", "label": "Color Theme 2" }
            ],
        "label": "Color Theme",
        "default": "color_theme__light"
      },
      {
        "type": "checkbox",
        "id": "is_centered",
        "default": false,
        "label": "Center Text"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": false,
        "label": "Show Collection Description"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": true,
        "label": "Show Collection Image"
      },
      {
         "type": "select",
         "id": "section_spacing_top",
         "options": [
            { "value": "section_spacing_none_top", "label": "None" },
            { "value": "section_spacing_small_top", "label": "Small" },
            { "value": "section_spacing_medium_top", "label": "Medium" },
            { "value": "section_spacing_large_top", "label": "Large" },
            { "value": "section_spacing_xlarge_top", "label": "X-Large" }
         ],
         "default": "section_spacing_large_top",
         "label": "Top spacing"
      },
      {
         "type": "select",
         "id": "section_spacing_bottom",
         "options": [
            { "value": "section_spacing_none_bottom", "label": "None"},
            { "value": "section_spacing_small_bottom", "label": "Small"},
            { "value": "section_spacing_medium_bottom", "label": "Medium"},
            { "value": "section_spacing_large_bottom", "label": "Large"},
            { "value": "section_spacing_xlarge_bottom", "label": "X-Large"}
         ],
         "default": "section_spacing_large_bottom",
         "label": "Bottom spacing"
      },
      {
        "type":"header",
        "content":"Background"
      },
      {
        "type":"color",
        "id":"bg_color_1",
        "label":"Background Color 1"
      },
      {
        "type":"color",
        "id":"bg_color_2",
        "label":"Background Color 2",
        "info":"will form gradient if added"
      },
      {
        "type":"color",
        "id":"bg_color_3",
        "label":"Background Color 3",
        "info":"will form gradient if added"
      },
      {
        "type":"range",
        "id":"gradient_balance",
        "min":1,
        "max":99,
        "step":1,
        "unit":"%",
        "label":"Gradient Balance",
        "default":50
      },
      {
        "type":"text",
        "id":"gradient_angle",
        "label":"Bg Gradient Angle",
        "default":"0",
        "info":"choose a number 1-360"
      },
      {
        "type":"header",
        "content":"Dividers"
      },
      {
        "type":"image_picker",
        "id":"section_divider_image",
        "label":"Bottom divider image",
        "info":"will appear fullwidth at bottom of section"
      },
      {
        "type":"checkbox",
        "id":"show_svg_divider_top",
        "label":"Show top wave",
        "info":"animated wave at top of section"
      },
      {
        "type":"color",
        "id":"svg_divider_top_color",
        "label":"Top wave color"
      },
      {
        "type":"checkbox",
        "id":"show_svg_divider_bottom",
        "label":"Show bottom wave",
        "info":"animated wave at bottom of section"
      },
      {
        "type":"color",
        "id":"svg_divider_bottom_color",
        "label":"Bottom wave color"
      }
    ]
  }
{% endschema %}
