{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{%- assign top_spacing = section.settings.section_spacing_top -%}
{%- assign bottom_spacing = section.settings.section_spacing_bottom -%}

{% if section.settings.text_side_desktop == "left" %}
  {% assign text_cell_order = "medium-order-1 " %}
  {% assign image_cell_order = "medium-order-2" %}
{% else %}
  {% assign text_cell_order = "medium-order-2" %}
  {% assign image_cell_order = "medium-order-1" %}
{% endif %}


{% if section.settings.text_side_mobile == "first" %}
  {% assign image_section_margin = "margin-top" %}
{% else %}
  {% assign image_section_margin = "margin-bottom" %}
{% endif %}



{% if section.settings.is_centered %}
  {% assign text_alignment = "text-center" %}
{% else %}
  {% assign text_alignment = "text-left" %}
{% endif %}


{% assign featured_post = articles[section.settings.featured_post] %}


 
{% capture section_content %}
  {% if featured_post.title != blank %}
    <div class="cell small-11 section-content {{ section.settings.color_theme }} {{ text_alignment }} medium-6 {{ text_cell_order }} {{ text_color }}">
      <div class="inner">  
        
        <div class="small-text">Featured Post</div>
        {% render 'component__title-block', classes: 'h2', text: featured_post.title %}
        <div class="description">
          <p>{{ featured_post.excerpt }}</p>
        </div>
        <div class="button-set">
          <a href="{{ featured_post.url }}" class="button {{ section.settings.button_style }} {{ section.settings.button_color }}">
            <span class="button_text">View Article</span>
          </a>   
        </div>
      
      </div>
    </div>
  {% endif %}
{% endcapture %}


{% capture section_media %}
  {% if featured_post %}
    <div class="cell small-12 section-image {{ image_section_margin }} {{ image_cell_order }} medium-6  {{ image_sizing }}">
      <a href="{{ featured_post.url }}" class="image-wrapper" data-aos="height" data-aos-offset="-300">
        {% render 'component__responsive-image', image: featured_post.image.src %}
      </a>
    </div>  
  {% endif %}
{% endcapture %}


<section class="mfr-core__image-text background">
  <div class="grid-container {{ top_spacing }} {{ bottom_spacing }}">

    <div class="grid-x blog-featured align-center">

      {% case section.settings.text_side_mobile %}
        {% when 'first' %}
          {{ section_content }}
          {{ section_media }}
        {% when 'second' %}
          {{ section_media }}
          {{ section_content }}
        {% else %}     
      {% endcase %}


    </div>


  </div>


  {% render 'component__section-dividers' %}
  {% render 'component__gradient-bg-styles' %}



</section>









{% schema %}
  {
    "name": "Featured Blog Post",
    "settings": [
      {
        "type": "header",
        "content": "Featured Post"
      },
      {
        "type": "article",
        "id": "featured_post",
        "label": "Featured Post"
      },
      {
        "type": "select",
        "id": "color_theme",
        "options": [
            { "value": "color_theme__dark", "label": "Dark Theme" },
            { "value": "color_theme__light", "label": "Light Theme" },
            { "value": "color_theme__theme_1", "label": "Color Theme 1" },
            { "value": "color_theme__theme_2", "label": "Color Theme 2" }
            ],
        "label": "Color Theme",
        "default": "color_theme__dark"
      },
      {
        "type": "select",
        "id": "button_style",
        "options": [
          { "value": "primary", "label": "Primary" },
          { "value": "secondary", "label": "Secondary" },
          { "value": "tertiary", "label": "Tertiary" }
          ],
        "label": "Button Style",
        "default": "primary"
      },{
        "type": "select",
        "id": "button_color",
        "options": [
            { "value": "color-accent-1", "label": "Color 1"},
            { "value": "color-accent-2", "label": "Color 2"},
            { "value": "color-accent-3", "label": "Color 3"},
            { "value": "black", "label": "Black"},
            { "value": "outline", "label": "Outline"}
            ],
        "label": "Button Color",
        "default": "outline"
      },
      {
        "type": "select",
        "id": "text_side_desktop",
        "options": [
           { "value": "left", "label": "Text Left" },
           { "value": "right", "label": "Text Right" }
        ],
        "label": "Desktop Layout",
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_side_mobile",
        "options": [
           { "value": "first", "label": "Text Top" },
           { "value": "second", "label": "Text Bottom" }
        ],
        "label": "Mobile Layout",
        "default": "second"
      },
      {
        "type": "checkbox",
        "id": "is_centered",
        "default": false,
        "label": "Center Text"
      },
      {
         "type": "select",
         "id": "section_spacing_top",
         "options": [
            { "value": "section_spacing_none_top", "label": "None" },
            { "value": "section_spacing_small_top", "label": "Small" },
            { "value": "section_spacing_medium_top", "label": "Medium" },
            { "value": "section_spacing_large_top", "label": "Large" },
            { "value": "section_spacing_xlarge_top", "label": "X-Large" }
         ],
         "default": "section_spacing_large_top",
         "label": "Top spacing"
      },
      {
         "type": "select",
         "id": "section_spacing_bottom",
         "options": [
            { "value": "section_spacing_none_bottom", "label": "None"},
            { "value": "section_spacing_small_bottom", "label": "Small"},
            { "value": "section_spacing_medium_bottom", "label": "Medium"},
            { "value": "section_spacing_large_bottom", "label": "Large"},
            { "value": "section_spacing_xlarge_bottom", "label": "X-Large"}
         ],
         "default": "section_spacing_large_bottom",
         "label": "Bottom spacing"
      },
      {
        "type":"header",
        "content":"Background"
      },
      {
        "type":"color",
        "id":"bg_color_1",
        "label":"Background Color 1"
      },
      {
        "type":"color",
        "id":"bg_color_2",
        "label":"Background Color 2",
        "info":"will form gradient if added"
      },
      {
        "type":"color",
        "id":"bg_color_3",
        "label":"Background Color 3",
        "info":"will form gradient if added"
      },
      {
        "type":"range",
        "id":"gradient_balance",
        "min":1,
        "max":99,
        "step":1,
        "unit":"%",
        "label":"Gradient Balance",
        "default":50
      },
      {
        "type": "header",
        "content": "Dividers"
      },
      {
        "type": "image_picker",
        "id": "section_divider_image",
        "label": "Bottom divider image",
        "info" : "will appear fullwidth at bottom of section"
      },
      {
        "type": "select",
        "id": "top_divider",
        "options": [
            { "value": "none", "label": "None"},
            { "value": "animated", "label": "Show Animated Divider"},
            { "value": "curved", "label": "Show Curved Divider"}
            ],
        "label": "Top Divider",
        "default": "none"
      },
      {
        "type": "color",
        "id": "svg_divider_top_color",
        "label": "Top divider color"
      },
      {
        "type": "select",
        "id": "bottom_divider",
        "options": [
            { "value": "none", "label": "None"},
            { "value": "animated", "label": "Show Animated Divider"},
            { "value": "curved", "label": "Show Curved Divider"}
            ],
        "label": "Bottom Divider",
        "default": "none"
      },
      {
        "type": "color",
        "id": "svg_divider_bottom_color",
        "label": "Bottom divider color"
      }
    ]
  }
{% endschema %}
