{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}
{%- assign top_spacing = section.settings.section_spacing_top -%}
{%- assign bottom_spacing = section.settings.section_spacing_bottom -%}

{% if section.settings.is_full_width %}
  {% assign is_full_width = "full" %}
{% else %}
  {% assign is_full_width = "" %}
{% endif %}

{%- if section.settings.grid_columns == 1 -%}
  {%- assign columns = 10 -%}
{%- elsif section.settings.grid_columns == 2 -%}
  {%- assign columns = 6 -%}
{%- elsif section.settings.grid_columns == 3 -%}
  {%- assign columns = 4 -%}
{%- elsif section.settings.grid_columns == 4 -%}
  {%- assign columns = 3 -%}
{%- else -%}
  {%- assign columns = 4 -%}
{%- endif -%}

{% assign product_layout_class = "grid" %}



<section class="content__product-grid">

  <div class="grid-container {{ top_spacing }} {{ bottom_spacing }}">

    <div class="grid-x align-center product-grid-wrapper">

      {%- paginate collection.products by 12 -%}
        {%- for product in collection.products -%}
          <div class="product-card {{ product_layout_class }} item-selector cell small-6 medium-6 large-{{ columns }} {%for tag in product.tags%} {{ tag  | handle | replace: 'abc', ' '}} {%endfor%}" data-aos="fade-up" tabindex="-1">
            {% render 'partial__product-card',
              product_card_product: product,
              media_size: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              primary_product_image_style: section.settings.primary_product_image_style,
              secondary_product_image_style: section.settings.secondary_product_image_style
            %}
          </div>
        {%- endfor-%}
      {%- endpaginate -%}

    </div>

  </div>


</section>







{% schema %}
  {
    "name": "Collection Products",
    "settings": [
      {
        "type": "header",
        "content": "Options"
      },
      {
        "type":"checkbox",
        "id":"is_full_width",
        "default":true,
        "label":"Full Width"
      },
      {
        "type": "range",
        "id": "grid_columns",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "label": "How many columns",
        "default": 3
      },
      {
        "type": "select",
        "id": "product_layout_style",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ],
        "default": "grid",
        "label": "Product Display",
        "info": "Changes product layout"
      },
      {
        "type": "header",
        "content": "Product Settings"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": true,
        "label": "Show 2nd image on Hover"
       },
       {
        "type": "select",
        "id": "primary_product_image_style",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "contain",
        "label": "Primary Product Image Style"
      },
      {
        "type": "select",
        "id": "secondary_product_image_style",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "contain",
        "label": "Secondary Product Image Style"
      },
      {
        "type": "header",
        "content": "Section Spacing"
      },
      {
         "type": "select",
         "id": "section_spacing_top",
         "options": [
            { "value": "section_spacing_none_top", "label": "None"},
            { "value": "section_spacing_small_top", "label": "Small"},
            { "value": "section_spacing_medium_top", "label": "Medium"},
            { "value": "section_spacing_large_top", "label": "Large"},
            { "value": "section_spacing_xlarge_top", "label": "X-Large"}
         ],
         "label": "Top spacing"
      },
      {
         "type": "select",
         "id": "section_spacing_bottom",
         "options": [
            { "value": "section_spacing_none_bottom", "label": "None"},
            { "value": "section_spacing_small_bottom", "label": "Small"},
            { "value": "section_spacing_medium_bottom", "label": "Medium"},
            { "value": "section_spacing_large_bottom", "label": "Large"},
            { "value": "section_spacing_xlarge_bottom", "label": "X-Large"}
         ],
         "label": "Bottom spacing"
      }
    ]
  }
{% endschema %}
