{%- assign bg_image = section.settings.password_bg_image -%}
{%- assign bg_color = section.settings.background_color -%}
{%- assign button_color = section.settings.password_button_color -%}



{% style %}

  html {
    height: 100%;
    width: 100%;
  }
  header {
    width: 100%;
  }
  h1,h2,h3,h4,h5,p,a {
    color: {{ button_color }}
    font-family: var(--font-heading-h1);
  }
  /* a {
    border-bottom: 1px solid {{ button_color }};
} */
  body {
    min-height: 100%;
    font-family: var(--font-body);
    background-color: {{ bg_color }};
    {% if bg_image %}
    background-image: url( {{ bg_image | img_url: '3600x' }} );
    background-size: 1440px;
    background-position: top center;
    background-repeat: repeat;
    {% endif %}

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  p {
    font-size: var(--font-body-size-regular);
    font-family: var(--font-body);
    line-height: var(--font-body-size-regular);
  }
  #MainContent {
    width: 100%;
    padding: 3rem 0 0;
  }
  #Login {
    width: 100%;
  }

  header {
    overflow: hidden;
  }

  .logo-image {
    margin-bottom: 2rem;
  }

  h1, h2, h3 {
    
  }
  h2 {
    
  }

  .button {
    background-color: {{ button_color }};
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .description {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    max-width: 28rem;
    text-align: center;
    margin: 0 auto 0rem;
  }

  .lock-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .icon-set {
    margin-left:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .icon-set li {
    font-size: 2rem;
    margin: 2rem 1rem 0 1rem;
  }
  .icon-set li a {
    border: 2px solid var(--font-body-color);
    border-radius: 40rem;
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-set li a svg {
    width: 2rem;
    height: 2rem;
  }
  .reveal {
    padding: 4rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;
  }
  .product {https://gear-hugger.myshopify.com/admin/themes/127137841347/editor?exitPath=%2Fadmin%2Fthemes%2F127137841347
    padding-bottom: 3rem;
  }
  .lock-icon {
    width: 1rem;
  }
  .lock-icon svg {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .klaviyo-form.klaviyo-form.klaviyo-form {
    border-radius: 1.4rem !important;
  }
  button.needsclick.go332817621.kl-private-reset-css-Xuajs1 {
    padding: .8rem 2rem !important;
    width: auto;
    display: inline-block;
    border-radius: 0.9rem !important;
    overflow: hidden !important;
  }

{% endstyle %}


<header role="banner">
  <div class="grid-container">

   

    <div class="grid-x align-center text-center">
      <div class="cell small-11 large-11 extra-image">
        {% if section.settings.password_extra_image %}
        <div class="product"style="max-width:{{ section.settings.password_extra_image_width }}px; margin:0 auto;">
          <img src="{{ section.settings.password_extra_image | img_url:'1000x' }}" alt="section.settings.password_extra_image.alt">
        </div>
      {% endif %}
      </div>
    </div>

    {% if section.settings.password_logo %}
      <div class="grid-x align-center text-center">
        <div class="cell small-6 large-6 logo-image">
          <h1 style="max-width:{{ section.settings.password_logo_width }}px; margin:0 auto;">
            <img src="{{ section.settings.password_logo | img_url: '800x' }}" />
          </h1>
        </div>
      </div>
    {% endif %}
    

    <div class="grid-x align-center text-center">
      <div class="cell small-11">
        <h1>
          {{ section.settings.title }}
        </h1>
        <div class="description">
          {{ section.settings.description }}
        </div>
      </div>
    </div>
	
   {% if section.settings.form_embed %}
    <div class="grid-x align-center text-center">
      <div class="cell small-12 medium-6 large-5" style="text-align:center;">
        {% if section.settings.form_title %}
        <p class="bold">{{ section.settings.form_title }}</p>
        {% endif %}
        <div class="form">
			{{ section.settings.form_embed }}
        </div>
      </div>
    </div>
     {% endif %}

    <div class="grid-x align-center">
      <div class="cell small-11 text-center">
        <div class="footer__social-links">
          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
          <ul class="icon-set small footer-social-links">
            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a target="_blank" href="https://{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" onClick="_gaq.push(['_trackEvent', 'button', 'click', 'Footer - {{ settings[social_link] }} ']);">
                    {% include social_icon %}
                  </a>
                </li>
              {% endif %}

            {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <div class="lock-icon" data-open="password_modal">
    {% render 'component__icon', icon_name: 'icon-padlock' %}
  </div>

</header>



<div class="reveal" id="password_modal" data-reveal>

  <div id="Login" class="grid-container">
    <div class="grid-x align-center text-center">
      <div class="cell small-12 medium-8">
        <!-- <h4>{{ 'general.password_page.login_form_heading' | t }}</h4> -->
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <!-- <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label> -->
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
          <button class="button primary" style="background-color: {{ button_color }};" type="submit" name="commit">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {% endform %}
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>

  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

</div>





{% schema %}
  {
    "name": "Password Page settings",
    "settings": [
      {
        "type": "image_picker",
        "id": "password_logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "password_logo_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Textarea"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Signup Form"
      },
  	  {
        "type": "text",
        "id": "form_title",
        "label": "Form title"
      },
  	  {
        "type": "html",
        "id": "form_embed",
        "label": "Form Embed"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#E0D2B9"
      },
      {
        "type": "color",
        "id": "password_button_color",
        "label": "Button Color",
        "default": "#000000"
      },
      {
        "type": "image_picker",
        "id": "password_bg_image",
        "label": "Background Image (optional)"
      },
      {
        "type": "image_picker",
        "id": "password_extra_image",
        "label": "Product Image (optional)"
      },
      {
        "type": "range",
        "id": "password_extra_image_width",
        "min": 50,
        "max": 850,
        "step": 10,
        "unit": "px",
        "label": "Image width",
        "default": 250
      }
    ]
  }
{% endschema %}
